@page
@using SiteOfBlackDesert.Data.Mocks
@using SiteOfBlackDesert.Data.Models
@{
    ViewData["Title"] = "Alchemy";
}
<style>

    body {
        background-color: #ffffff;
    }

    p {
        color: white;
        text-indent: 0em;
    }
</style>
<h3 style="text-align: center;">Алхимия</h3>
<div class="container-fluid">
    <div class="row">
        @{
            foreach (var item in MockAlchemyAndCooking.GetSetAllAlchemyAndCooking)
            {
                if (item.category == "Алхимия")
                {
                    <div class="col-lg-3">
                        <div class="card" style="width: 18rem; background-color: #8b8b8b">
                            <img class="card-img-top" src=@item.img alt="Card image cap">
                            <h5 class="card-title" style="text-align: center; color: white">@item.name</h5>
                            <div class="card-body">
                                <p class="card-text">@item.descriptions</p>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>