@page
@{
    ViewData["Title"] = "Contacts";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <h3>Этот проект был разработан как курсовая работа на языке C#</h3>
            <p><b>Тема:</b> Информационное веб-приложение игры "Black Desert"</p>
            <p><b>Разработчик:</b> Богданец Сергей Сергеевич</p>
        </div>
        <div class="col-lg-3">
            <img src="#">
        </div>
    </div>
</div>