@page
@{
    ViewData["Title"] = "Contacts";
}
<div class="container-fluid" style="background-color: #ffffff;"> 
    <h1 style="text-align: center;">Этот проект был разработан как курсовая работа на языке C#</h1>
    <div class="row">
        <div class="col-lg-3">
            <img src="~/img/DeletThis.jpg" style=" height: 80%; width: 100%" alt="Здесь должен быть скриншет">
        </div>
        <div class="col-lg-9">
            <p><b>Тема:</b> Информационное веб-приложение игры "Black Desert"</p>
            <p><b>Разработчик:</b> Богданец Сергей Сергеевич</p>
            <p>Для разработки данного проекта использовалась платформа <a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET</a> и фреймворк <a href="https://docs.microsoft.com/en-us/ef/">Entity</a></p>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #8b8b8b;"> 
    <div class="row">
        <div class="col-lg-9">
            <p style="color: #ffffff;">Вкладка <i>"Предметы"</i> предназначена для просмотров игровых предметов. Там вы можите просмотреть все характеристики необходимого вам: оружия, доп. оружия, брони и т.д.</p>
        </div>
        <div class="col-lg-3">
            <img src="#" style=" alt="Здесь должен быть скриншет">
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #ffffff;"> 
    <div class="row">
        <div class="col-lg-3">
            <img src="#" style=" alt="Здесь должен быть скриншет">
        </div>
        <div class="col-lg-9">
            <p>На вкладке <i>"Время появления боссов"</i> вы можите посмотреть таблицу, узнать появления мировых боссоов и через сколько они появяться на карте!</p>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #8b8b8b;"> 
    <div class="row">
        <div class="col-lg-9">
            <p style="color: #ffffff;">Вкладка <i>"Алхимия"</i> предназначена для просмотров алхимических предметов игры, а так же рецепты и состав нескольки очень серьезных зельев!</p>
        </div>
        <div class="col-lg-3">
            <img src="#" style=" alt="Здесь должен быть скриншет">
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #ffffff;"> 
    <div class="row">
        <div class="col-lg-3">
            <img src="#" style=" alt="Здесь должен быть скриншет">
        </div>
        <div class="col-lg-9">
            <p>Вкладка <i>"Кулинария"</i> предназначена для просмотров кулинарных предметов игры, а так же рецепты и состав многих игровых блюд.</p>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #8b8b8b;"> 
    <div class="row">
        <div class="col-lg-9">
            <p style="color: #ffffff;"><i>"Форум"</i> - это форум для всех русскоговорящих игроков. Там вы можите спросить совета или просто пообщаться с другими игроками.</p>
        </div>
        <div class="col-lg-3">
            <img src="..." style=" alt="Здесь должен быть скриншет">
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #ffffff;"> 
    <div class="row">
        <div class="col-lg-3">
            <img src="~/img/map.png" alt="Здесь должен быть скриншет">
        </div>
        <div class="col-lg-9">
            <p>Вкладка <i>"Карта"</i> ведет на карту игрового мира, где вы можите посмотреть разные интересные места!</p>
        </div>
    </div>
</div>