@page
@using SiteOfBlackDesert.Data.Models
@model IEnumerable<AlchemyAndCooking>
@{
    ViewData["Title"] = "Cooking";
}
<h3></h3>
@{
    foreach (var item in Model)
    {
        <p>@item.name</p>
    }
}