@page
@using SiteOfBlackDesert.Data.Models
@model IndexModel
@{
    ViewData["Title"] = "Black Desert";
}
<style>
    p {
        text-indent: 1.5em;
        text-align: justify;
    }
</style>
<div class="container-fluid">
    <h3>Информационный сайт о <b>Black Desert</b></h3>
    <div class="row">
        <div class="col-lg-7">
            <p>Black Desert — игра в жанре MMORPG от разработчиков PearlAbyss (издатель в Корее Daum, локализатор в России PearlAbyss, GameNet до 12 октября 2018 года). В Южной Корее игра распространяется по модели free-to-play, в России был free-to-play и pay-to-play серверы до 12 октября 2018 года. С 22 ноября открыт только free-to-play сервер, в остальных странах система оплаты будет зависеть от издателя. С декабря 2018 года Pearl Abyss заключили соглашение с компанией «Иннова» о предоставлении точки входа с платформы Фогейм</p>
            <hr>
        </div>
        <div class="col-lg-5">
            <img src="~/img/header.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p><b>Общая информация</b></p>
            <p>
                В игре реализована полноценная смена времени суток, а также система динамической погоды, не привязанная к определённой локации (циклоны перемещаются по карте); в каждом регионе уникальные погодные условия, такие как шторм, снег, дождь, тайфун и т. д. Приблизительное количество игроков на сервере: 17 тысяч.

                В игре отсутствует максимальный уровень персонажа. Также имеется уникальный генератор персонажей, обладающий возможностью тонкой настройки каждого элемента тела.
            </p>
            <hr>
            <p><b>Мир игры</b></p>
            <p>
                Игровой мир игры — бесшовный, его дизайн выполнен в духе периода перехода от Средневековья к эпохе Возрождения. Выбор обусловлен тем, что это было время реформ, исследований и открытий. В игре есть открытые подземелья, для прохождения группой и в одиночку. Инстансы в игре отсутствуют. Недвижимость имеет своё собственное физическое пространство.

                Игровой мир Black Desert заселен различными фэнтезийными расами, такими как эльфы, гномы, полурослики, гоблины, великаны, дендроиды и др. Телепортов и порталов в игре не предусмотрено (за исключением призыва игроков на осаду и свитка телепорта в ближайший город), почти все перемещения по игровому миру будут осуществляться с помощью питомцев (см. ниже) и, в редких случаях, кораблей. Также существует перемещение на "такси" из определенной точки в другую, заданную разработчиками. В основном это - лодки, которые идут до некоторых островов, иногда же грифоны и небесная повозка которая перемещается между крупнейшими и часто посещаемыми игроком. В исключительных случаях оно требует игровую валюту.
            </p>
            <hr>
            <p><b>Классы</b></p>
            <p>
                Каждый класс имеет привязку к расе и полу и имеет индивидуальное дерево навыков. У каждого класса есть уникальный тип энергии, расходуемый при использовании навыков. Вспомогательные классы (такие, как баферы и лекари) разработчики вводить не собираются, исключением является новый класс Шай; частично этими навыками будут наделены другие игровые классы. Также нет разделения классов на профессии.
            </p>
            <p>
                На данный момент в корейской версии игры реализовано 19 игровых классов:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <ul>
                <li>Воин</li>
                <li>Лучница</li>
                <li>Колдунья</li>
                <li>Варвар</li>
                <li>Мистик</li>
                <li>Мастер Меча</li>
                <li>Валькирия</li>
                <li>Волшебник</li>
                <li>Волшебница</li>
                <li>Маэва</li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <li>Куноичи</li>
                <li>Ниндзя</li>
                <li>Тёмный рыцарь</li>
                <li>Страйкер</li>
                <li>Фурия</li>
                <li>Лан</li>
                <li>Лучник</li>
                <li>Шай</li>
                <li>Страж</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr>

            <p><b>Разработка</b></p>
            <p>
                Игру начали разрабатывать в 2010-м году. Закрытое бета-тестирование в Корее было разделено на три этапа. Первый происходил в октябре 2013 года, два других — в апреле и сентябре 2014. В декабре того же года игра вошла в стадию ОБТ (открытого бета-тестирования) и вышла на корейский игровой рынок. ОБТ японской версии игры стартовало 16 мая 2015 года.

                Первое ЗБТ в России прошло с 28 мая по 31 мая 2015, а последнее — с 15 сентября по 21 сентября того же года. И наконец, 12 октября началось открытое бета-тестирование free-to-play сервера. Сервер с ежемесячной подпиской открыт 10 февраля 2016. 2 декабря 2015 было установлено первое крупное обновление. В последующих обновлениях были перераспределены получаемый опыт и сила монстров, что существенно усложнило развитие персонажей и вызвало у игроков большое возмущение. 23 декабря того же года было установлено второе крупное обновление.

                Выход английского клиента игры Black Desert состоялся 3 марта 2016 года.
            </p>
        </div>
    </div>
</div>
