@using SiteOfBlackDesert.Data.Models
@model IEnumerable<Items>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h3></h3>
    @{
        foreach (var item in Model)
        {
            <div>
                <h4>@item.name</h4>
                <p></p>
            </div>
        }
    }
</body>
</html>