<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SiteOfBlackDesert</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/img/ico.ico" type="image/x-icon" />
    <style>
      .countdown-title {
      color: #000;
      font-weight: 100;
      font-size: 72px;
      margin: 40px 0px 20px;
      }

      .countdown {
      font-family: sans-serif;
      color: #fff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 30px;
      }

      .countdown-number {
      padding: 10px;
      border-radius: 3px;
      background: #000;
      display: inline-block;
      }

      .countdown-time {
      padding: 15px;
      border-radius: 3px;
      background: #FDB60D;
      display: inline-block;
      }

      .countdown-text {
      display: block;
      padding-top: 5px;
      font-size: 16px;
      }

      body {
        background-color: #343A40;
      }
      p {
        text-indent: 1.5em;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        text-indent: 2em;
        font-size: 14pt;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <a class="navbar-brand" href="Index">BlackDesert</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            База знаний
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="ListItemsPage">Предметы</a>
                            <a class="dropdown-item" href="TimerBoss">Время появления боссов</a>
                            <!--<a class="dropdown-item" href="#">Задания</a>
                            <a class="dropdown-item" href="#">Задания гильдии</a>
                            <a class="dropdown-item" href="#">НПЦ</a>
                            <a class="dropdown-item" href="#">Умения</a>
                            <a class="dropdown-item" href="#">Магазин жемчужин</a>
                            <a class="dropdown-item" href="#">Дома</a>
                            <a class="dropdown-item" href="#">Знания</a>
                            <a class="dropdown-item" href="#">Ремесло</a>
                            <a class="dropdown-item" href="#">Достижения</a>
                            <a class="dropdown-item" href="#">Титулы</a>
                            <a class="dropdown-item" href="#">Питомцы</a>
                            <a class="dropdown-item" href="#">Ездовые питомцы</a>
                            <a class="dropdown-item" href="#">Сбор</a>
                            <a class="dropdown-item" href="#">Огород</a>
                            <a class="dropdown-item" href="#">Рыбная энциклопедия</a>
                            <a class="dropdown-item" href="#">Узлы</a>
                            <a class="dropdown-item" href="#">Шаблоны размещения предметов</a>
                            <a class="dropdown-item" href="#">Торговые товары</a>-->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Alchemy">Алхимия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Cooking">Кулинария</a>
                    </li>
                    <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Инструменты
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Калькулятор умений</a>
                                <a class="dropdown-item" href="#">Популярные комбинации умений</a>
                                <a class="dropdown-item" href="#">Примерочная</a>
                                <a class="dropdown-item" href="https://bdotools.xyz/map/">Карта</a>
                                <a class="dropdown-item" href="#">Калькулятор снаряжения</a>
                                <a class="dropdown-item" href="#">Тймер мировых босов</a>
                                <a class="dropdown-item" href="#">Всплывающие подсказки</a>
                            </div>
                    </li>-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Общение
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="https://bddatabase.net/forum/">Форум</a>
                            <a class="dropdown-item" href="https://bdotools.xyz/map/">Карта</a>
                            <a class="dropdown-item" href="Contacts">Контакты</a>
                        </div>
                    </li>
                </ul>
                <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>-->
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container">
            <!--&copy; 2020 - BlackDesert - <a asp-area="" asp-page="/Privacy">Privacy</a>-->
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
