@page
@using SiteOfBlackDesert.Data.Models
@model IEnumerable<Items>
@{
    ViewData["Title"] = "Home page";
}
<h3></h3>
@{
    foreach (var item in Model)
    {
        <div>
            <h4>@item.name</h4>
            <p></p>
        </div>
    }
}